/* ===============================================================================VARIABLES Y FUENTES============================================================== */
:root {
  --fuentePrincipal: "Adam";
  --fuenteSecundaria: "Lato", sans-serif;

  --rosaColor: #bc6f6f;
  --blancorosaColor: #ffeeee;
  --rosaProductos: rgba(236, 178, 176,); 

  --paletaUno: #f3f2e0;
  --paletaDos: #f0d8cc;
  --paletaTres: #ecb2b0;
  --paletaCuatro: #776163;
  --paletaCinco: #87907d;
  --paletaSeis: #b6c9b3;
}
@font-face {
  font-family: "Adam";
  src: url(../fonts/Adam-Medium.ttf);
  font-weight: normal;
}
@font-face {
  font-family: "Adam";
  src: url(../fonts/Adam-Light.ttf);
  font-weight: lighter;
}
@font-face {
  font-family: "Adam";
  src: url(../fonts/Adam-Bold.ttf);
  font-weight: bold;
}
/*========================================================================================== GLOBALES ==============================================================*/
html {
  box-sizing: border-box;
  font-size: 62.5%; /*Reset para REMS - 62.5% = 10px de 16px*/
}
*,
*:before,
:after {
  box-sizing: inherit;
}
body {
  font-family: var(--fuenteSecundaria);
  font-size: 1.6rem;
  line-height: 2;
  background-color: white; /** CAMBIO DE PRUEBA **/
}
img {
  width: 100%;
}
h1 {
  font-size: 3.8rem;
}
h2 {
  font-size: 3.4rem;
}
h3 {
  font-size: 3rem;
}
h4 {
  font-size: 2.6rem;
}
/*=============================================================================== UTILIDADES ====================================================================*/
.contenedor {
  max-width: 120rem;
  margin: 0 auto;
}
.seccion {
  margin-top: 3rem;
  margin-bottom: 2rem;
}
.boton {
  text-decoration: none;
  padding: 1rem;
  width: 100%;
  text-transform: uppercase;
  text-align: center;
  font-family: "Lato";
  font-weight: 400;
  color: black;
  border-radius: 2rem;
  /* display: block; */
}
.botonPrimario {
  background-color: var(--blancorosaColor);
    border: 1px solid black;
    border-radius: 2rem;
    color: black;
}
.botonBanners{
background-color: var(--blancorosaColor);
}
.precio {
  font-family: "Lato";
  color: rgb(0, 107, 0);
  font-weight: bolder;
  font-size: 2.5rem;
  margin: 0;
}
.rosa{
  font-family: 'Adam';
  color: var(--rosaColor);
  font-weight: bold;
  text-transform: uppercase;
}
.limon{
  color: #000000;
  font-weight: lighter;
}
.headeres{
  /* background-color: var(--paletaSeis); */
  color: var(--paletaCinco);
  text-transform: uppercase;
  font-family: 'Adam';
  font-weight: lighter;
  text-align: center;
  margin: 0;
}
.headeres:after{
  content: '';
  display: block;
  background-color: var(--rosaColor);
  height: 2px;
  width: 200px;
  margin: 0 auto;
}
.d-block{
  display: block;
}
.ocultar{
  display: none;
}
.menu-activo{
  border-bottom: 2px solid var(--rosaColor);
}
.menu-movil:hover{
  cursor: pointer;
}
@media (min-width: 768px){
  .menu-movil{
    display: none;
  }
}
.menu-movil p{
  text-transform: uppercase;
  font-family: var(--fuentePrincipal);
  font-weight: bold;
  margin: 0;
}
.menu-movil img{
width: 55px;
}
/* LIGHTBOX */
.galeria{
  margin-top: 3rem;
  text-align: center;
}
.miniaturas{
  max-width: 50px;
  max-height: 50px;
  object-fit: contain;
}
/*================================================================================ HEADER ==================================================================*/
.site-header.header-inicio{
  background-image: url(../img/headerTresMobile.jpg);
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  min-height: 100rem;
}
@media (min-width: 768px) {
  .site-header.header-inicio{
    background-image: url(../img/headerTres.jpg);
  }
}
.contenido-header {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}
.barra {
  background-color: white; /** CAMBIO COLOR PRUEBA **/ 
}
.logotipo {
  text-align: center;
  margin: 0 auto;
  width: 100%;
  max-width: 75rem;
}
.logotipo p {
  font-family: var(--fuentePrincipal);
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
  margin-top: -2.5rem;
}
.navegacion{
  display: none;
}
.navegacion a {
  display: block;
  text-align: center;
  text-decoration: none;
  color: var(--rosaColor);
  font-family: "Adam";
  font-weight: bold;
  font-size: 2.5rem;
  padding: 1rem;
  /* margin: 1rem 0 1rem 0; */
  text-transform: uppercase;
  transition: 0.5s ease-in-out;
}
.botonCarrito img{
  width: 25px;
}

.navegacion a:hover {
  background-color: var(--rosaColor);
  color: white;
  transform: scale(1.25);
}
@media (min-width: 768px) {
  .navegacion {
    display: flex;
    text-align: center;
    align-items: center;
    margin-top: 2rem;
  }
  .navegacion a {
    width: 25%;
    padding: 0;
    margin-top: 0;
  }
}
.site-header h1 {
  font-family: var(--fuentePrincipal);
  /* color: var(--paletaUno); */
  color: white;
  text-align: center;
  font-size: 5rem;
  padding-bottom: 5rem;
}
@media (min-width: 768px) {
  .site-header h1 {
    font-size: 10rem;
    line-height: 1.5;
  }
}
/*===================================================================================== NOSOTROS INICIO =================================================*/
.nosotros-inicio h2 {
  text-align: center;
  text-transform: uppercase;
  font-family: var(--fuentePrincipal);
  font-weight: lighter;
  line-height: 1.5;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.nosotros-inicio h2::after {
  content: '';
  display: block;
  margin: 0 auto;
  height: 2px;
  width: 300px;
  background-color: var(--paletaTres);
}
@media (min-width: 768px) {
  .nosotros-inicio h2::before {
    content: '';
    display: inline-block;
    /* margin: 0 auto; */
    height: 2px;
    width: 100px;
    margin-right: 1rem;
    margin-bottom: 1rem;
    background-color: var(--paletaTres);
  }
  .nosotros-inicio h2::after {
    content: '';
    display: inline-block;
    /* margin: 0 auto; */
    height: 2px;
    width: 100px;
    margin-left: 1rem;
    margin-bottom: 1rem;
    background-color: var(--paletaTres);
  }
}

.nosotros-inicio h2 span {
  color: var(--paletaTres);
  font-weight: bold;
}
.contenido-nosotros {
 /** background-image: url(../img/nosotrosInicio.jpg); **/
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  padding: 1rem;
}
.iconos-nosotros {
  text-align: center;
}
@media (min-width: 768px) {
  .iconos-nosotros {
    display: flex;
  }
  .icono {
    width: 33.3%;
  }
}
.icono {
  color: var(--paletaCuatro);
  background-color: rgba(236, 178, 176, 0.5);
  margin: 1rem;
  border-radius: 0.5rem;
  padding: 1rem;
}
.icono h3 {
  font-family: var(--fuentePrincipal);
  text-transform: uppercase;
}
.icono p {
  font-size: 2rem;
}
@media (min-width: 768px) {
  .icono {
    width: 33.3%;
  }
}
.icono img {
  width: 25rem;
}

/*===================================================================================== PRODUCTOS INICIO =================================================*/
.productos-inicio h2 {
  text-align: center;
  text-transform: uppercase;
  font-family: var(--fuentePrincipal);
  font-weight: lighter;
  line-height: 1.5;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.productos-inicio h2::after {
  content: '';
  display: block;
  margin: 0 auto;
  height: 2px;
  width: 300px;
  background-color: var(--paletaTres);
}
@media (min-width: 768px) {
  .productos-inicio h2::before {
    content: '';
    display: inline-block;
    /* margin: 0 auto; */
    height: 2px;
    width: 100px;
    margin-right: 1rem;
    margin-bottom: 1rem;
    background-color: var(--paletaTres);
  }
  .productos-inicio h2::after {
    content: '';
    display: inline-block;
    /* margin: 0 auto; */
    height: 2px;
    width: 100px;
    margin-left: 1rem;
    margin-bottom: 1rem;
    background-color: var(--paletaTres);
  }
}
.productos-inicio h2 span {
  color: var(--paletaTres);
  font-weight: bold;
}
.contenido-productos {
 /** background-image: url(../img/productosInicio.jpg); **/
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  padding: 1rem;
}
@media (min-width: 768px) {
  .iconos-productos {
    display: flex;
    justify-content: space-between;
  }
}
.producto {
  /* background-color: rgba(236, 178, 176, 0.5); */
  text-align: center;
  margin: 1rem;
  border: 2px solid lightgrey;
  border-radius: 0.5rem;
}
@media (min-width: 768px) {
  .producto {
    width: 25%;
  }
}
.contenido-producto {
  padding: 2rem;
}
@media (min-width: 768px) {
  .contenido-producto {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 95%;
    min-height: 500px;
  }
}
.contenido-producto h3 {
  color: #363636;
  font-family: "Adam";
  font-weight: bolder;
  margin: 0;
  line-height: 1.5;
}
.contenido-producto p {
  margin: 0;
}
.contenido-producto a:hover {
  background-color: var(--paletaTres);
  color: white;
}
.ver-todas .boton {
  display: block;
}
.ver-todas a {
 
}
.ver-todas a:hover {
  background-color: var(--paletaSeis);
  color: white;
}
@media (min-width: 768px) {
  .ver-todas {
    display: flex;
    justify-content: flex-end;
  }
  .ver-todas a {
    margin: 1rem;
    width: auto;
  }
}
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ CONTACTO +++++++++++++++++++++++++++++++++++++++++++*/
.contacto-inicio h2 {
    text-align: center;
    text-transform: uppercase;
    font-family: var(--fuentePrincipal);
    font-weight: lighter;
    line-height: 1.5;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  .contacto-inicio h2::after {
    content: '';
    display: block;
    margin: 0 auto;
    height: 2px;
    width: 300px;
    background-color: var(--paletaTres);
  }
  @media (min-width: 768px) {
    .contacto-inicio h2::before {
      content: '';
      display: inline-block;
      /* margin: 0 auto; */
      height: 2px;
      width: 100px;
      margin-right: 1rem;
      margin-bottom: 1rem;
      background-color: var(--paletaTres);
    }
    .contacto-inicio h2::after {
      content: '';
      display: inline-block;
      /* margin: 0 auto; */
      height: 2px;
      width: 100px;
      margin-left: 1rem;
      margin-bottom: 1rem;
      background-color: var(--paletaTres);
    }
  }
  .contacto-inicio h2 span {
    color: var(--paletaTres);
    font-weight: bold;
  }
  .contenido-contacto{
    background-image: url(/img/contactar-inicio.jpg);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    padding: 10rem;
    /* margin-left: 5rem;
    margin-right: 5rem; */
  }
  .contenido-contacto p{
    font-size: 2rem;
    color: var(--paletaCuatro);
    max-width: 30rem;
}
@media (min-width: 768px){
  .contenido-contacto p{
    max-width: 55rem;
  } 
}
  .contenido-contacto a{
    display: inline-block;
    width: auto;
    background-color: var(--blancorosaColor);
    border: 1px solid #363636;
    color: black;
  
    
  }
  .contenido-contacto a:hover{
    background-color: var(--paletaTres);
    color: #ffffff;
    font-weight: 600;
  }
  /*========================================= SECCION INFERIOR ==============================================*/
  /* TESTIMONIALES */
  .seccion-inferior h3{
    text-align: center;
    text-transform: uppercase;
    font-family: var(--fuentePrincipal);
    font-weight: bold;
    color: var(--paletaTres);
    line-height: 1.5;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  .seccion-inferior h3::after{
    content: '';
    display: block;
    height: 2px;
    width: 30%;
    background-color: var(--paletaTres);
    margin: 0 auto;
  }
  @media (min-width: 768px){
      .seccion-inferior{
        display: flex;
        justify-content: space-between;
      }
      .testimoniales{
        flex-basis: calc(50% - 1rem);
      }

  }
  .testimonial{
      background-color: var(--blancorosaColor);
      font-size: 2.4rem;
      padding: 2rem;
      color: black;
      border-radius: 2rem;
      width: 95%;
      margin: 0 auto;
  }
  .testimonial p{
      text-align: right;
  }
  .testimonial blockquote::before
{
    content: '';
    background-image: url(../img/comilla.svg);
    width: 4rem;
    height: 4rem;
    position: absolute;
    left: -2rem;
    
}
.testimonial blockquote
{
    position: relative;
    padding-left: 5rem;
}
/*===================================================== MARCAS ============================*/

.imagenes-marca{
  display: flex;
  -webkit-display: flex;
  justify-content: space-evenly;
  -webkit-justify-content: space-evenly;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
}
@media (min-width: 768px){
  .marcas{
      flex-basis: calc(50% - 1rem);
    }
}
.imagenes-marca img{
    width: 25%;
    -webkit-width: 25%;
}
/*======================================================= FOOTER =========================================*/
.site-footer{
    background-color: white; /** CAMBIO DE PRUEBA **/
    border-top: 2px solid #ffeeee;
    margin-bottom: 0;
}
.site-footer p{
    background-color: #ffeeee; /** CAMBIO DE PRUEBA **/
    color: var(--rosaColor); /** CAMBIO DE PRUEBA **/
    text-align: center;
    padding: 1rem;
    margin: 0;
}
.site-footer .logotipo{
    flex-basis: 33.3%;
    margin: 0;
}
.site-footer .logotipo img{
    width: 150px;
    padding: 1rem;
}
.site-footer .navegacion-footer{
    text-align: center;
    display: none;
}
@media (min-width: 768px){
    .contenido-footer{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .site-footer .logotipo img{
        width: 80%;
        padding: 1rem;
    }
}
.navegacion-footer a{
  text-align: end;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--rosaColor);
  font-family: "Adam";
  font-weight: bold;
  font-size: 2rem;
  padding: 1rem;
  width: 25%;
  transition: .5s ease-in-out;
}
.navegacion-footer a:hover{
    background-color: var(--rosaColor);
    color: white; /** CAMBIO COLOR PRUEBA **/
    border-radius: .5rem;
}
@media (min-width: 768px){
    .navegacion-footer{
        flex-basis: 50%;
    }
}
@media (min-width: 768px){
    .site-footer .navegacion-footer{
        display: block;
    }
}
.redes-sociales{
  text-align: center;
  flex-basis: 16.65%;
}
@media (min-width: 768px){
  .redes-sociales{
    text-align: unset;
  }
}
.redes-sociales img{
  width: 5%;
}
@media (min-width: 768px){
  .redes-sociales img{
    width: 20%;
  }
}
@media (min-width: 768px){
  .redes-sociales img{
  margin-left: 15px;
  }
}
/*======================================================= PAGINAS INTERNAS =========================================*/
/* PRODUCTOS */
.pagina-productos{
  background-color: white;
  /* background-position: center;
  background-size: cover; */
}
@media (min-width: 768px){
  .pagina-productos{
    background: white
    /* background: url(../img/green.jpg);
    background-position: center;
    background-size: cover; */
  }
}
@media (min-width: 768px){
  .contenido-paginaproductos{
    display: flex;
    justify-content: space-between;
  }
}
@media (min-width: 768px){
  .categorias{
    flex-basis: calc(25% - 1rem);
  }
}
.sidebar ul{
  list-style: none;
  padding: 0;
  background-color: whitesmoke;
  border-radius: .5rem;
  margin: 0;
}
.sidebar ul li{
  padding: 10px;
  text-align: center;
  border-bottom: .5px solid var(--paletaCinco);
  cursor: pointer;
}
.sidebar ul li:last-of-type{
  border: none;
}
.sidebar ul li a{
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Adam';
  font-weight: bold;
  color: var(--rosaColor);
  font-size: 1.9rem;
  
}
.sidebar ul li a:hover{
  color: var(--paletaUno);
  
}
.sidebar ul li:hover{
  background-color: var(--paletaSeis);
  border-radius: .5rem;
}
.categorias a{
  position: relative;
}
.activo::after{
  position: absolute;
  content: '';
  width: .5rem;
  height: .5rem;
  border-radius: 50%;
  background-color: var(--rosaColor);
}
.categorias h3{
  text-align: center;
  text-transform: uppercase;
  font-family: 'Adam';
  color: var(--paletaTres);
  font-size: 3rem;
  margin: 3.8rem 0;
}
.categorias h3::after{
  content: '';
  display: block;
  background-color: var(--paletaTres);
  height: 2px;
  width: 100px;
  margin: 0 auto;
}
.banners{
  flex-basis: calc(75% - 1rem);
}
.banners article h2{
  color: var(--rosaColor);
  background-color: rgba(245, 245, 245, 0.8);
  border-radius: .5rem;
  width: 70%;
  margin: 0 auto;
}
.banner p{
  font-family: 'Lato';
  text-align: center;
  color: var(--rosaColor);
  background-color: rgba(245, 245, 245, 0.8); /** WhiteSmoke RGBA **/
  border-radius: .5rem;
  width: 70%;
  margin: 1rem auto;
}
.banners h1{
  text-transform: uppercase;
  font-family: 'Adam';
  color: var(--paletaTres);
  text-align: center;
  margin: 3rem 0;
}
.banners h1:after{
  content: '';
  display: block;
  background-color: var(--paletaTres);
  height: 2px;
  width: 100px;
  margin: 0 auto;
}
.banners article{
  border-radius: .5rem;
  height: auto;
  margin: 0;
  margin-bottom: 2rem;
  padding: 1rem;
}
.banners h2{
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Adam';
  color: var(--paletaUno);
}
.contenido-producto-banner{
  min-height: unset;
}
.card-banner-uno {
  width: 100%;
  height: 350px;
  background: url('../img/maquillaje-banner.jpg')no-repeat center center/cover;
  margin-bottom: 40px;
}
/* .card-banner-uno h2{
  background: -webkit-linear-gradient(rgb(255, 0, 0), rgb(255, 255, 255));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
} */
.card-banner-dos{
  width: 100%;
  height: 350px;
  background: url('../img/cuidadopiel-banner.jpg')no-repeat center center/cover;
  margin-bottom: 40px;
}
/* .card-banner-dos h2{
  background: -webkit-linear-gradient(rgb(10, 94, 7), rgb(255, 255, 255));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
} */
.card-banner-tres {
  width: 100%;
  height: 350px;
  background: url('../img/belleza-banner.jpg')no-repeat center center/cover;
  margin-bottom: 40px;
}
.card-banner-cuatro {
  width: 100%;
  height: 350px;
  background: url('../img/fragancias-banner.jpg')no-repeat center center/cover;
  margin-bottom: 40px;
}
.card-banner-cinco {
  width: 100%;
  height: 350px;
  background: url('../img/accesorios-banner.jpg')no-repeat center center/cover;
  margin-bottom: 40px;
}
.content{
  font-family: 'Adam';
  color: var(--paletaCuatro);
  display: flex;
} 
/* =========================================================== ELEMENTOS DE PRODUCTOS */

/*.items:target{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}*/
.mostrar-items{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.items h3{
  font-family: 'Adam';
  text-align: center;
  margin: 0;
  line-height: 1;

}
.item{
  margin-top: 1rem;
  flex-basis: calc(50% - 1rem);
  border-radius: .5rem;
  /* background-color: rgba(236, 178, 176, 0.5); */
  border: 2px solid lightgrey;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (min-width: 768px){
  .item{
    flex-basis: calc(33.3% - .5rem);
  }
}
.item img{
  padding: .5rem;
  max-width: 30rem;
  max-height: 30rem;
  object-fit: contain;
  /* overflow: hidden; */
}
.item .precio{
  padding: 1rem;
  font-size: 1.5rem;
  text-align: center;
  color: rgb(0, 107, 0);
}
.contenido-item{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 25rem;
  align-items: center;
  padding: .5rem;
 
}
.contenido-item a:hover {
  background-color: var(--paletaTres);
  color: white;
}
/*============================================================ DESCRIPCION PRODUCTO  ================================*/
.descripcion-producto{
  /* background: linear-gradient(to top, #ffffff, var(--paletaSeis)); */

}
.titulo-producto{
  text-align: center;
  font-family: 'Adam';
  text-transform: uppercase;
  font-size: 3rem;
  /* color: var(--paletaCuatro); */
  margin: 0 auto;
  margin-top: 0;
  margin-bottom: 2rem;
  width: 95%;
}
.titulo-producto::after{
  content: '';
  display: block;
  /* background-color: var(--paletaTres); */
  height: 2px;
  width: 300px;
  margin: 0 auto;
}
.texto-descripcion p{
  background-color: rgba(243, 242, 224, 0.8);
  border-radius: .5rem;
  text-align: center;
  width: 95%;
  padding: 1rem;
  margin: 1rem auto;
}
@media (min-width: 768px){

}
.formulario-pedido fieldset{
  border-radius: .5rem;
  width: 95%;
  margin: 0 auto;
  background-color: rgba(243, 242, 224, 0.8);
  border: 2px solid var(--paletaCinco);
}
.formulario-pedido fieldset legend{
  color: var(--paletaCinco);
}
.formulario-pedido label{
  text-transform: uppercase;
  font-weight: bold;
  color: var(--paletaCinco);
  padding: 1rem;
  margin-left: 1rem;
}
.formulario-pedido select{
  background-color: var(--paletaUno);
  margin: 1rem auto;
  padding: 1rem;
  width: 95%;
  color: var(--paletaCinco);
  font-weight: bold;
}
.texto-descripcion p:first-of-type{
  color: var(--paletaCinco);
}
.texto-descripcion span{
  color: var(--paletaCinco);
}
@media (min-width: 768px){
  .contenido-descripcion{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .imagen-descripcion{
    flex-basis: calc(50% - 1rem);
  }
  .texto-descripcion{
    flex-basis: calc(50% - 1rem);
  }
}
.imagen-descripcion {
  text-align: center;
}
.imagen-descripcion img{
  max-width: 500px;
  max-height: 500px;
  object-fit: contain;
}
.agregarCarrito{
  width: 95%;
  margin: 1rem auto;
  background-color: var(--paletaCinco);
  border: 0;
  padding: 1rem;
  color: var(--paletaUno);
  text-transform: uppercase;
  font-weight: bold;
  transition: .5s ease-in-out;
}
.agregarCarrito:hover{
  cursor: pointer;
  background-color: #585e51;
}
/* CONTACTO */
.contacto{
    /* background: -webkit-gradient(linear, left top, left bottom, from(var(--paletaUno)), to(var(--paletaUno))) fixed; */
    background-color: white;
}
.contacto h1{
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.row.justify-content-center{
  height: 100vh;
}



/*************************************************** NOSOTROS *****************************************/
.pagina-nosotros{
  width: 95%;
  margin: 0 auto;
}
.fondo-nosotros{
  background: white
}
@media (min-width: 768px){
  .pagina-nosotros{
    display: flex;
  } 
}
.imagen-nosotros{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}
.imagen-nosotros img{
  width: 50%;
}
@media (min-width: 768px){
  .imagen-nosotros{
    flex-basis: calc(50% - 1rem);
  }
}
.texto-nosotros blockquote{
  text-align: center;
  font-family: 'Adam';
  font-weight: bolder;
  font-size: 2.5rem;
  color: var(--rosaColor);
}
@media (min-width: 768px){
  .texto-nosotros{
    flex-basis: calc(50% - 1rem);
  }
}
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ CARRITO DE COMPRAS  ++++++++++++++++++++++++++++++++++++++*/
.carritohtml{
  background-color: white;
}
.total{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: .5rem;
  /* background-color: rgba(243, 242, 224, 0.8); */
  border: 2px solid lightgrey;
  height: 25rem;
  text-align: center;
  width: 95%;
  margin: 0 auto;
}
.total span{
  color: var(--rosaColor);
  text-transform: uppercase;
  font-size: 2rem;
}
.total span:last-of-type{
  color: rgb(0, 107, 0);
}
.total input{
  border: none;
  width: 95%;
}
.total input:hover{
  cursor: pointer;
  background-color: #585e51;
  color: white;
}
@media (min-width: 768px){
  .total{
    flex-basis: calc(30% - 1rem);
    order: 2;
    margin: unset;
    margin-top: 1rem;
  }
}
.productosCarrito{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 95%;
  margin: 0 auto;
  text-align: center;
}
@media (min-width: 768px){
  .productosCarrito{
  display: block;
  }
}
.itemCarrito{
  flex-basis: calc(50% - .5rem);
  min-height: 40.5rem;
}
@media (min-width: 768px){
  .itemCarrito{
  min-height: unset;
}
}
.itemCarrito h3{
  line-height: 1;
  width: 95%;
  margin: 0 auto;
  color: var(--rosaColor);
}
@media (min-width: 768px){
  .contenido-carrito{
    display: flex;
    justify-content: space-between;
  }
  .productosCarrito{
    flex-basis: calc(70% - 1rem);
  }
  .carritohtml h2{
    display: none;
  }
}
.botones-carrito a{
  display: block;
  width: 100%;
  margin: .5rem auto;
  padding: .2rem;
}
.botones-carrito a:hover{
  color: white;
  background-color: var(--paletaSeis);
}
.botones-carrito a:last-of-type{
  background-color: rgb(207, 78, 78);
}
.botones-carrito a:last-of-type:hover{
  background-color: #D62727;
}
@media (min-width: 768px){
  .item-carrito{
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .item-carrito h3{
    height: 3rem;
  }
  .imagen-carrito img{
    width: 150px;
  }
  .item-carrito p{
    order: 3;
    
  }
}
